{% extends 'base.html.twig' %}

{% block title %}Association Melekia
{% endblock %}

{% block body %}
	<p>Accueil</p>
	<div class="container">

		<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="..\images\carroussel.png" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="..\images\carroussel(1).png" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="..\images\carroussel(2).png" class="d-block w-100" alt="...">
				</div>
			</div>
		</div>

	</div>

	<br>

	<div class="collecte">
		<h1>Nous collectons
		</h1>
		<p>Vêtements</p>
		;
		<p>Denrées alimentaires</p>
		;
		<p>Dons pécuniers</p>

	</div>

	<br>


	<div class="actualites">
		<h1>Nos évenements à venir</h1>


	</div>

	<br>


{% endblock %}
