<div class="contact">
	<h1 class="titre1">Nous contacter</h1>
	<p class="mail">
		Envoyer un mail</p>
	<img src="..\..\..\images\telephone.png" height="50px" width="50px">
</div>

<br>
<div class="col">


	<p class="titre">
		&copy; Association Melekia 2022
		<br>

		politique de confidentialité
	</p>
	<a href="https://www.instagram.com/association_melekia/" target="_blank">
		<img src="..\..\..\images\instagram.jpg" height="100" width="100"></a>
	<img src="..\..\..\images\whatsapp.png" height="100" width="100">
</div>
