{% extends 'base.html.twig' %}

{% block title %}Nous avons besoin de vous !
{% endblock %}

{% block body %}

	<img src="..\images\Main.png">

	<p class="aumone">L'entraide est tout sauf un calcul, c'est ce que nous aurions fait pour nous même ce que nous aurions fait pour les autres. Patrick Louis Richard</p>

	<br>


	<div class="cercle"></div>
	<div container>
		<a href="https://www.paypal.com/paypalme/associationmelekia" target="_blank">
			<img src="..\images\paypal.png" alt="Paypal"></a>

	</div>
	<div container>
		<a href="https://www.helloasso.com/associations/melekia" target="_blank">
			<img src="..\images\hello_asso.png" alt="hello_asso" height="150px" width="150px"></a>

	</div>

{% endblock %}
